{% extends '/back/gestion.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>All Reservations</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('Dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="#">All Reservations</a></li>
                </ol>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1></h1>
            <div class="search_bar dropdown ; header-left">
                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                    <i class="mdi mdi-magnify"></i>
                </span>
                <div class="dropdown-menu p-0 m-0">
                    <form action="{{path ('search_reservations')}}" method="GET" id="searchForm">
                        <input class="form-control" type="search" name="query" id="searchInput" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% for reservation in reservations %}
                <div class="col-xl-3 col-xxl-4 col-lg-6 col-md-6">
                    <div class="card">
                        <img class="img-fluid" src="{{ asset('uploads/' ~ reservation.Imagesrc) }}" >
                        <div class="card-body">
                            <h4>{{ reservation.namee}}</h4>
                            <ul class="list-group mb-3 list-group-flush">
                                <li class="list-group-item px-0 d-flex justify-content-between">
                                    <span class="mb-0">Reserver par:</span><strong>{{ reservation.IdUser.name?? 'Unknown User' }} </strong>
                                </li>
                                <li class="list-group-item px-0 d-flex justify-content-between">
                                    <span><i class="fa fa-mail text-primary mr-2"></i>Number of places :</span><strong>{{ reservation.nbPlaces }}/{{ reservation.IdEvent.nbrmax }}</strong>
                                </li>
                                <li class="list-group-item px-0 d-flex justify-content-between">
                                    <span><i class="fa fa-mail text-primary mr-2"></i>Prix payé :</span><strong>{{ reservation.IdEvent.prix * reservation.nbPlaces }}</strong>
                                </li>
                            </ul>
                            <a href="" class="btn btn-primary">PDF</a>
                            <a href="{{ path('app_afficher', {'reservationId': reservation.id}) }}" class="btn btn-primary">Paiements Info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        // Get the search input and form
        const searchInput = document.getElementById('searchInput');
        const searchForm = document.getElementById('searchForm');

        // Add event listener to the search input
        searchInput.addEventListener('input', function() {
            // Submit the form when the input value changes
            searchForm.submit();
        });
    </script>
{% endblock %}
