<!DOCTYPE html>
<html lang="en">

<head>
    {% block stylesheets %}{% endblock %}
    {% include 'front/header.html.twig' %}
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    {% include 'front/navbar.html.twig' %}

    <!-- Navbar End -->


 
    <!-- Service Start -->
{%block ticket %}{% endblock %}

    <div class="content-container">
        <!-- Add this div to create space below the header -->
        <div class="spacer"></div>

        <!-- Your main content goes here -->
        <div class="ticket">
            <!-- Ticket content -->
        </div>
    </div>

    <div class="container-xxl py-5">
{% block body %}

{% endblock %}
</div>
    <!-- Testimonial End -->
        

    <!-- Footer Start -->
     	{% include 'front/footer.html.twig' %}

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% block js %}

    <script src="{{ asset ('https://code.jquery.com/jquery-3.4.1.min.js')}} "></script>
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset ('lib/wow/wow.min.js"') }}></script>
    <script src="{{ asset ('lib/easing/easing.min.js')}}"></script>
    <script src="{{ asset ('lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{ asset ('lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{ asset ('js/main.js')}}"></script>
{% endblock %}

</body>

</html>