<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="{{ path('index') }}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
             <img  src="img/logo.png" width="65" height="65"> <h2 style="color: #06BBCC;">Tanit Online</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{{ path('index') }}" class="nav-item nav-link active">Home</a>
                <a href="" class="nav-item nav-link">Schools</a>
                <a href="{{ path('app_event') }}" class="nav-item nav-link">Events</a>
                <a href="{{ path('app_partner_front') }}" class="nav-item nav-link">Partners</a>
                <a href="" class="nav-item nav-link">Students</a>
                <a href="" class="nav-item nav-link">Courses</a>
                <a href="" class="nav-item nav-link">Reservations</a>
              
                <a href="{{ path('contact') }}" class="nav-item nav-link">Contact</a>
            </div>
            <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Profil<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>