 <div class="dlabnav">
            <div class="dlabnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                   <li><a class="ai-icon" href="{{ path('Dashboard') }}" aria-expanded="false">
							<i class="la la-home"></i>
							<span class="nav-text">Dashboard</span>
						</a>
					<li><a class="ai-icon" href="" aria-expanded="false">
							<i class="la la-calendar"></i>
							<span class="nav-text">Courses</span>
						</a>
                        <ul aria-expanded="false">
                             <li><a href="{{ path('app_formation_index') }}">All Courses</a></li>
                            <li><a href="{{ path('app_formation_new') }}">Add Course</a></li>
                        </ul>                       
                    </li>
					<li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
							<i class="la la-user"></i>
							<span class="nav-text">Professors</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{{ path('app_tuteur') }}">All Professor</a></li>
                            <li><a href="{{ path('app_tuteur_new') }}">Add Professor</a></li>
                        </ul>
                    </li>
					
				</ul>
            </div>
        </div>