{% extends 'base-front.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="{{ path('app_reset_password_submited') }}" class="sign__form">
                    <a href="{{ path('app_index') }}" class="sign__logo">
                        <img src="{{ asset('front/img/logo.svg') }}" alt="Logo">
                    </a>
                    <h3 class="footer__tagline">Réinitialisation du mot de passe</h3>
                    <div class="sign__group">
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="sign__group">
                        <input type="email" class="form-control sign__input" name="email" id="inputEmail" autocomplete="email" required autofocus placeholder="Adresse email">
                    </div>

                    <button class="btn btn-lg btn-primary btn-block sign__btn" type="submit">{{ button_label|default('Réinitialiser le mot de passe') }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
